/* custom grids */

ul.grid-uno li {
  border:1px solid #efefef;
}
div.grid-uno-feature {
  max-height:300px;
  overflow: hidden;
}
div.grid-dos-feature {
  max-height:200px;
  overflow: hidden;
}
div.grid-uno-text, div.grid-dos-text {
  padding:0 10px;
}
ul.list-trios li {
  padding:20px 15px;
  background-color:#f5f3f4;
  border-bottom:1px solid #aaa;
}
ul.list-trios li:last-child {
  border-bottom:none;
}
.tlos-outline-btn {
  border:2px solid #7ec35d;
  border-radius:15px;
  color:#7ec35d !important;
  font-weight:bold;
  margin:15px 0;
}

/* single post */
.single-template-6 .header_img {
  max-height:400px;
  overflow:hidden;
  background-position: top;
}
.single-template-6 .narrow-col {
  max-width: 750px !important;
}
.single-template-6 #below-post, .single-template-6 div.decoration {
  display:none;
}
