/* custom grids */

ul.grid-uno li {
  border:1px solid #efefef;
}
div.grid-uno-feature {
  max-height:300px;
  overflow: hidden;
}
div.grid-uno-feature img {
  height:300px;
  width:auto;
}
div.grid-dos-feature {
  max-height:200px;
  overflow: hidden;
}
div.grid-uno-text, div.grid-dos-text {
  padding:0 10px;
}
ul.list-trios li {
  padding:20px 15px;
  background-color:#f5f3f4;
  border-bottom:1px solid #aaa;
}
ul.list-trios li:last-child {
  border-bottom:none;
}
.tlos-outline-btn {
  border:2px solid #7ec35d;
  border-radius:15px;
  color:#7ec35d !important;
  font-weight:bold;
  margin:15px 0;
}

/* single post */
.single-template-3 article {
	margin: 60px auto;
  max-width: 100%;
}
.single-template-3 .entry-header, .single-template-3 .entry-summary, .single-template-3 .entry-comments, .single-template-3 .entry-post-nav {
  width: 750px;
  margin: 15px auto;
}
.single-template-3 .entry-header h1 {
	font-size: 38px;
	font-weight: normal;
}
.single-template-3 .entry-summary {
	font-size: 20px;
	line-height: 1.5;
  margin-bottom: 30px;
}
.single-template-3 .post-thumbnail {
	margin-bottom: 30px;
}
.single-template-3 .entry-content p {
  margin:15px auto;
  font-size: 16px;
}
.single-template-3 blockquote {
	padding: 10px 20px;
  width:750px;
	margin: 30px auto;
	font-size: 17.5px;
	border-left: 5px solid #f6b144;
}
.single-template-3 .author-meta, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, {
  width:750px;
  margin: 15px auto;
}
.single-template-3 .author-meta {
  font-size: 16px;
}

.single-template-6 .header_img {
  max-height:400px;
  overflow:hidden;
  background-position: top;
}
.single-template-6 .narrow-col {
  max-width: 750px !important;
}
.single-template-6 #below-post, .single-template-6 div.decoration, .single-template-6 div.related-posts {
  display:none;
}
